<!DOCTYPE html>
<html>

<head>
    <title>The FlaskNet - {{ page }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">The FlaskNet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    {% if g.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="/communications">Communications</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/new">Register</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/users">Users</a>
                    </li>
                </ul>
                {% if g.user %}
                <span class="navbar-text">
                    {{ g.user['username'] }}
                </span>
                <a class="nav-link" href="/logout">Logout</a>
                {% endif %}
            </div>
            {% if not g.user %}
            <form action="/login" method="post" class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Username" name="username"
                    aria-label="username">
                <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>

</html>
