{% extends 'base.html' %}

{% block content %}
<form action="/login" method="post">
    <div class="mb-3">
        <label for="user" class="form-label">User</label>
        <input type="text" class="form-control" placeholder="max.mustermann" id="user" name="username"></input>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<form action="/login" method="post" class="d-flex">
    <input class="form-control me-2" type="text" placeholder="Username" aria-label="username">
    <button class="btn btn-outline-success" type="submit">Login</button>
</form>
{% endblock %}
