{% extends 'base.html' %}

{% block content %}
<form action="/register_user" method="post">
    <div class="mb-3">
        <label for="prename" class="form-label">Prename</label>
        <input type="text" class="form-control" placeholder="Max" id="prename" name="prename"></input>
    </div>
    <div class="mb-3">
        <label for="surname" class="form-label">Surname</label>
        <input type="text" class="form-control" placeholder="Mustermann" id="surname" name="surname"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}
